
        <div id="signin">
          <h2>Lemur</h2>
          <form method="post">
            <label>E-mail</label><br>
             <input type="email" name="email"><br>
              <label>Password</label><br>
             <input type="password" name="password"><br>
             <input type="button" value="Sign in">
          </form>
        </div>
