
        <header>
            <div id="logo"><img src="/images/mascot.png"></div>
            <nav>
              <ul>
                <li><a href="">Sign out</a></li>
                
              </ul>
            </nav>
        </header>
