<!DOCTYPE html>
<html>
    <head>
        <title>Lemur</title>
        <link rel="stylesheet" href="https://use.typekit.net/kyk1ihd.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <%= yield %>
    </body>
</html>